.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
    margin-bottom: 0;
}

.wy-nav-side { overflow: inherit; } 

/* Code blocks */
pre > code {
    display: block;
    font-size: 12px;
    white-space: inherit;
    max-width: inherit;
    background: transparent;
    border: none;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
}
pre > code.hljs {
    background: transparent;
}
pre {
    border: 1px solid #e1e4e5;
    background: #fff;
    margin: 1px 0 24px 0;
}


.wy-menu-vertical header, .wy-menu-vertical p.caption {
    height: 32px;
    display: inline-block;
    line-height: 32px;
    padding: 0 1.618em;
    margin-bottom: 0;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 80%;
    color: #555;
    white-space: nowrap;
}


table{
    margin-bottom: 20px;
}

thead {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

table th {
    border: 1px solid #ddd;
    padding: 6px 13px;
    text-align: center;
}

tbody {
    vertical-align: middle;
    border-color: inherit;
}

table tr {
    border-top: 1px solid #ccc;
    background-color: #fff;
    vertical-align: inherit;
}

table td {
    border: 1px solid #ddd;
    padding: 6px 13px;
}